In [2]:
import pandas as pd
import numpy as np

In [3]:
df1=pd.read_csv(r'Web_scraping ZOMATO/ZOMATO_TABLE_1.csv')

In [4]:
df1.head()

,Restaurant_id,name,urls,ratings,price for one,cuisine
0,R0,Le Arabia Restaurant,https://www.zomato.com/bangalore/le-arabia-res...,3.5,250,"Arabian, Biryani, North Indian, Chinese, Fast ..."
1,R1,Hotel Revoli Inn,https://www.zomato.com/bangalore/hotel-revoli-...,3.9,250,"Chinese, North Indian, Mughlai"
2,R2,Bakingo,https://www.zomato.com/bangalore/bakingo-vasan...,4.2,250,"Bakery, Desserts"
3,R3,Truffles,https://www.zomato.com/bangalore/truffles-2-st...,4.3,250,"Burger, American, Bakery, Italian, Oriental, C..."
4,R4,McDonald's,https://www.zomato.com/bangalore/mcdonalds-mg-...,3.9,250,"Burger, Fast Food"

In [5]:
df2=pd.read_csv(r'Web_scraping ZOMATO\ZOMATO_TABLE_2.csv')

In [6]:
df2.head()

,Restaurant_id,Name,delivery_reviews_Count,restaurant_address,Latitude,Longtitude
0,R0,Le Arabia Restaurant,1892,"Vijay Nagar, Bangalore",12.959769,77.531760
1,R1,Hotel Revoli Inn,1862,"Shanti Nagar, Bangalore",12.955977,77.592071
2,R2,Bakingo,748,"Vasanth Nagar, Bangalore",12.994415,77.593820
3,R3,Truffles,1822,"St. Marks Road, Bangalore",12.971928,77.601063
4,R4,McDonald's,5809,"MG Road, Bangalore",12.976022,77.598278

In [7]:
df=pd.merge(df1,df2,on='Restaurant_id')

In [8]:
df.shape

(519, 11)

In [9]:
df.head()

,Restaurant_id,name,urls,ratings,price for one,cuisine,Name,delivery_reviews_Count,restaurant_address,Latitude,Longtitude
0,R0,Le Arabia Restaurant,https://www.zomato.com/bangalore/le-arabia-res...,3.5,250,"Arabian, Biryani, North Indian, Chinese, Fast ...",Le Arabia Restaurant,1892,"Vijay Nagar, Bangalore",12.959769,77.531760
1,R1,Hotel Revoli Inn,https://www.zomato.com/bangalore/hotel-revoli-...,3.9,250,"Chinese, North Indian, Mughlai",Hotel Revoli Inn,1862,"Shanti Nagar, Bangalore",12.955977,77.592071
2,R2,Bakingo,https://www.zomato.com/bangalore/bakingo-vasan...,4.2,250,"Bakery, Desserts",Bakingo,748,"Vasanth Nagar, Bangalore",12.994415,77.593820
3,R3,Truffles,https://www.zomato.com/bangalore/truffles-2-st...,4.3,250,"Burger, American, Bakery, Italian, Oriental, C...",Truffles,1822,"St. Marks Road, Bangalore",12.971928,77.601063
4,R4,McDonald's,https://www.zomato.com/bangalore/mcdonalds-mg-...,3.9,250,"Burger, Fast Food",McDonald's,5809,"MG Road, Bangalore",12.976022,77.598278

In [10]:
df.drop('Name',axis=1,inplace=True)

In [11]:
# df.to_csv('complete_data.csv')

In [12]:
new_df=df

In [13]:
new_df.cuisine

0      Arabian, Biryani, North Indian, Chinese, Fast ...
1                         Chinese, North Indian, Mughlai
2                                       Bakery, Desserts
3      Burger, American, Bakery, Italian, Oriental, C...
4                                      Burger, Fast Food
                             ...
514         North Indian, South Indian, Chinese, Biryani
515                  Pizza, Italian, Desserts, Beverages
516                  South Indian, North Indian, Chinese
517    Fast Food, Street Food, Ice Cream, Desserts, S...
518                                     Bakery, Desserts
Name: cuisine, Length: 519, dtype: object

In [14]:
new_df['cuisine'] = new_df['cuisine'].apply(lambda x: x.split(','))

In [15]:
new_df.head(1)

,Restaurant_id,name,urls,ratings,price for one,cuisine,delivery_reviews_Count,restaurant_address,Latitude,Longtitude
0,R0,Le Arabia Restaurant,https://www.zomato.com/bangalore/le-arabia-res...,3.5,250,"[Arabian, Biryani, North Indian, Chinese, ...",1892,"Vijay Nagar, Bangalore",12.959769,77.53176

In [16]:
new_df=new_df.explode('cuisine')

In [17]:
new_df.head()

,Restaurant_id,name,urls,ratings,price for one,cuisine,delivery_reviews_Count,restaurant_address,Latitude,Longtitude
0,R0,Le Arabia Restaurant,https://www.zomato.com/bangalore/le-arabia-res...,3.5,250,Arabian,1892,"Vijay Nagar, Bangalore",12.959769,77.53176
0,R0,Le Arabia Restaurant,https://www.zomato.com/bangalore/le-arabia-res...,3.5,250,Biryani,1892,"Vijay Nagar, Bangalore",12.959769,77.53176
0,R0,Le Arabia Restaurant,https://www.zomato.com/bangalore/le-arabia-res...,3.5,250,North Indian,1892,"Vijay Nagar, Bangalore",12.959769,77.53176
0,R0,Le Arabia Restaurant,https://www.zomato.com/bangalore/le-arabia-res...,3.5,250,Chinese,1892,"Vijay Nagar, Bangalore",12.959769,77.53176
0,R0,Le Arabia Restaurant,https://www.zomato.com/bangalore/le-arabia-res...,3.5,250,Fast Food,1892,"Vijay Nagar, Bangalore",12.959769,77.53176

In [18]:
new_df.reset_index(drop=True,inplace=True)

In [19]:
new_df.head()

,Restaurant_id,name,urls,ratings,price for one,cuisine,delivery_reviews_Count,restaurant_address,Latitude,Longtitude
0,R0,Le Arabia Restaurant,https://www.zomato.com/bangalore/le-arabia-res...,3.5,250,Arabian,1892,"Vijay Nagar, Bangalore",12.959769,77.53176
1,R0,Le Arabia Restaurant,https://www.zomato.com/bangalore/le-arabia-res...,3.5,250,Biryani,1892,"Vijay Nagar, Bangalore",12.959769,77.53176
2,R0,Le Arabia Restaurant,https://www.zomato.com/bangalore/le-arabia-res...,3.5,250,North Indian,1892,"Vijay Nagar, Bangalore",12.959769,77.53176
3,R0,Le Arabia Restaurant,https://www.zomato.com/bangalore/le-arabia-res...,3.5,250,Chinese,1892,"Vijay Nagar, Bangalore",12.959769,77.53176
4,R0,Le Arabia Restaurant,https://www.zomato.com/bangalore/le-arabia-res...,3.5,250,Fast Food,1892,"Vijay Nagar, Bangalore",12.959769,77.53176

In [20]:
# new_df.to_csv('final_zomato.csv')

In [23]:
new_df.restaurant_address.

array(['Vijay Nagar, Bangalore', 'Shanti Nagar, Bangalore',
       'Vasanth Nagar, Bangalore', 'St. Marks Road, Bangalore',
       'MG Road, Bangalore', 'Koramangala 7th Block, Bangalore',
       'UB City, Bangalore', 'Nagawara, Bangalore',
       'Brigade Road, Bangalore', 'Shivajinagar, Bangalore',
       'Commercial Street, Bangalore', 'Residency Road, Bangalore',
       'Frazer Town, Bangalore', 'Mantri Square, Malleshwaram, Bangalore',
       'Basavanagudi, Bangalore', 'Malleshwaram, Bangalore',
       'Indiranagar, Bangalore', 'Kammanahalli, Bangalore',
       'Koramangala 6th Block, Bangalore', 'Jayanagar, Bangalore',
       'Rajajinagar, Bangalore', 'Richmond Road, Bangalore',
       'Ulsoor, Bangalore', 'Church Street, Bangalore',
       'Garuda Mall, Magrath Road, Bangalore',
       'Cunningham Road, Bangalore', 'BTM, Bangalore',
       'Majestic, Bangalore', 'Wilson Garden, Bangalore',
       'Sigma Mall, Cunningham Road, Bangalore', 'Domlur, Bangalore',
       'Seshadripuram, Bangalore', 'JP Nagar, Bangalore',
       'Lavelle Road, Bangalore', 'Koramangala 8th Block, Bangalore',
       'Koramangala 5th Block, Bangalore', 'Sadashiv Nagar, Bangalore',
       'Jeevan Bhima Nagar, Bangalore', 'Old Madras Road, Bangalore',
       'Koramangala 4th Block, Bangalore', 'Banashankari, Bangalore',
       'HBR Layout, Bangalore', 'Basaveshwara Nagar, Bangalore',
       'Old Airport Road, Bangalore', 'Thippasandra, Bangalore',
       'RT Nagar, Bangalore', 'Kumaraswamy Layout, Bangalore',
       'Orion East, Banaswadi, Bangalore', 'Hosur Road, Bangalore',
       'Bannerghatta Road, Bangalore', 'Langford Town, Bangalore',
       'Yeshwantpur, Bangalore',
       'Building 105, Koramangala 5th Block, Bangalore',
       'Ejipura, Bangalore', 'Banaswadi, Bangalore',
       'City Market, Bangalore',
       'Jatti Building, Koramangala 5th Block, Bangalore',
       '153 Biere Street, Bangalore', '1 Sobha, Bangalore',
       'New BEL Road, Bangalore',
       'Royal Orchid Hotel,  Old Airport Road, Bangalore',
       'Sanjay Nagar, Bangalore', 'Kalyan Nagar, Bangalore',
       'Koramangala 2nd Block, Bangalore', 'Infantry Road, Bangalore',
       'Koramangala 1st Block, Bangalore', 'Race Course Road, Bangalore',
       'Nexus, Koramangala, Bangalore'], dtype=object)